*{
   margin: 10px;
   padding-top: 20px;
   background-color: cornsilk;
}
.titlebox{
 text-align: center;
 background-color:cornsilk;
 margin: 0%;
 padding: 0%;
 
}
.firstparagraph{
    font-size: large;
    border-style: solid;
 border-color:black;
 border-width:1px;
 border-radius: 10px;
}
.tributeimg{
    text-align: center;
}
.imageone{
    border-style: solid;
   
    border-width:0px;
    border-radius: 50%;
}
.subtitleline{
    padding-top: 0%;
    padding-bottom: 1px;
    margin-bottom: 0%;
    text-align: center;
    background-color: cornsilk;
    font-size: large;
    border: 1px solid black;
}
.secondbox{
    padding-left:15px ;
    margin-top: 0%;
    font-size: large;
    background-color: cornsilk;
    border: 1px solid black;
}
.secondbox>p{
    font-size:x-large;
    
}
#footer{
    font-size: medium;
    text-align: center;
}